.box
{
    color:rgb(209, 143, 11);
    margin-left:530px;
    margin-top:300px;
   border:ridge;
   height:auto;
   width: 450px;;
   border-color: rgb(135, 106, 106);
   border-radius: 5px;

}
.set
{
    text-align: center;
}